@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body > * {
  overflow-x: hidden;
  font-family: Product Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  position: relative;
}

.left-content {
  width: 100%;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}

.left-content-bfr-auth {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/background-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin-top: 125px;
  margin-left: 40px;
}

#slogan {
  letter-spacing: 3px;
  color: white;
  margin-top: 200px;
  margin-left: 70px;
}

/* navigation bar */

.nav-container {
  width: 70%;
  position: fixed;
  display: flex;
  padding: 30px 50px;
  transition: 0.6s;
  z-index: 1;
  font-size: 20px;
}


.nav-link {
  position: relative;
  margin: 0 15px;
  color: white;
  transition: 0.6s;
}

.nav-link:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.nav-container-afr-auth {
  width: 70%;
  position: fixed;
  align-items: baseline;
  display: flex;
  padding: 20px 0px;
  transition: 0.6s;
  background: white;
  font-size: 20px;
  z-index: 1;
}

#greeting {
  font-size: 40px;
  flex: 6
}

.nav-link-afr-auth {
  position: relative;
  margin: 0 15px;
  color: black;
  transition: 0.6s;
}

.nav-link-afr-auth:hover {
  border-bottom: 4px solid black;
  transition: all 0.2s ease-out;
}

/* --- */

/* auth */

.auth-form {
  color: white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 70px;
   width: 300px;
   padding: 40px 40px;
   position:absolute;
   top: 50%;
   transform: translateY(-50%);
   box-shadow: 0 5px 4px rgba(0, 0, 0, 0.7);
}

.auth-form label {
  text-transform: uppercase;
  margin:20px 0;
  width:100%;
	display:block;
  color:#fff;
	font-size:12px;
}

.auth-input {
  font-size: 17px;
  width: 85%;
	display:block;
  margin-top: 5px;
  color: #fff;
  border: none;
  padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.2);
}

.auth-btn {
  padding:15px 50px;
  background: #0290B0;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  margin-left: 70px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 10px #000000;
}

.auth-btn:hover {
  box-shadow: inset 0 0 15px #000000;
}
/* --- */

/* create goal form */


.create-goal-form-item {
  margin: 30px 0;
}

.create-goal-form-item p {
  margin: 10px 0;
}

.create-goal-form-item-input {
  margin-top: 10px;
  padding: 7px 7px;
  border-radius: 10px;
  width: 100%;
  border: solid 1px #ccc;
}

/* --- */

.form-group {
  margin: 20px 0;
}


p {
  line-height: 1.7;
}



.small-form-group {
  margin: 10px 0;
}

.small-form-group input {
  width: 50%;
  height: 10px;
  margin: 5px;
  padding: 1px 1px;
  font-size: 17px;
  border-radius: 5px;
} 

.form-group input {
  width: 50%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
} 

 .form-group input, .small-form-group input {
  width: 50%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
} 

.form-group textarea {
  width: 50%;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
} 




 .btn {
  background: #000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  width: 53%;
}

.sub-btn {
  background: white;
  color: black;
  border: solid grey 1px;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  text-transform: uppercase;
}

.drop-down {
  background: #000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  width: auto;
}

.white-link {
  position: relative;
  color: white;
  font-weight: 500px;
  transition: 0.6s;
}

.white-link:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}


 .sidebar {
  width: 100px;
  height: 100%;
  padding: 0 0;
  position: fixed;
  background-color: rgb(39, 38, 34);
} 

 .sidebar-item {
  padding: 15px;
  text-align: center;
} 

 .sidebar-link {
  color: #0290B0;
  display: block;
  font-size: 50px;
} 

 .sidebar-link:hover {
  border-bottom: 4px solid #0290B0;
  transition: all 0.2s ease-out;
} 


/* input tag */

.input-tag {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

.input-tag input {
  border: none;
  width: 100%;
  padding: 7px 7px;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #0290B0;
  border-radius: 5px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin: 5px;
  padding: 0 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

/* --- */


.progress-div {
  background-color: rgb(233, 233, 233);
  height: 60px;
  margin: 10px 0;
  border-radius: 5px;
}

.progress {
  background-color: #0290B0;
  height: 20px;
  border-radius: 5px;
  transition: 1s ease;
  transition-delay: 0.5s;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}